body 
{
    background: #ccc;
    color: #111;
    font-family: Arial;
    font-size: 13px;
}

#menu 
{
    margin: 10px 15px;
    text-align: right;
}

ul li 
{
    display: inline-block;
    margin: 0;
}

ul li a 
{
    padding: 5px;
    color: #555;
}

#footer 
{
    float: left;
    margin-top: 20px;
    color: #999;
    font-size: 9px;
    text-decoration: underline;
}